<div style="width:105%">
    <img src="@Url.Action("CreatePurchasesGoodsChart")" />
</div>

<div style="width:105%">
    <img src="@Url.Action("CreateBonusAmmountDynamicChart")" />
</div>

<div style="width:105%">
    <img src="@Url.Action("CreateCommentsAmmountChart")"/>
</div>