@{
    ViewBag.Title = AlutechShopDiploma.Resources.Views.Account.ExternalLoginFailure.ViewBagTitle;
}

<hgroup>
    <h2>@ViewBag.Title.</h2>
    <h3 class="text-danger">@AlutechShopDiploma.Resources.Views.Account.ExternalLoginFailure.Caption</h3>
</hgroup>
