@{
    ViewBag.Title = AlutechShopDiploma.Resources.Views.Account.ForgotPasswordConfirmation.ViewBagTitle;
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        @AlutechShopDiploma.Resources.Views.Account.ForgotPasswordConfirmation.Caption
    </p>
</div>
	
