@{
    ViewBag.Title = AlutechShopDiploma.Resources.Views.Account.ResetPasswordConfirmation.ViewBag_Title;
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        @AlutechShopDiploma.Resources.Views.Account.ResetPasswordConfirmation.Caption @Html.ActionLink(AlutechShopDiploma.Resources.Views.Account.ResetPasswordConfirmation.Link, "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
