@model AlutechShopDiploma.Models.Entities.Comment

<head>
    <link href="~/Content/css/contactForm.css" rel="stylesheet" />
    <link href="~/Content/css/comment_field.css" rel="stylesheet" />
</head>

<body>
    <div class="container1">
        <form action="/Comment/Create" method="post">
            <label>Ваш комментарий</label>
            @Html.TextAreaFor(model => model.CommentText, new { @placeholder = "Комментарий" })
            <input type="submit" class="" value="Редактировать комментарий">
        </form>


        <p>

        </p>
        <p>

        </p>
        @if (TempData["mistake"] != null)
        {
            <div class="alert alert-danger">
                @TempData["mistake"]
            </div>
        }
        @if (TempData["succsess"] != null)
        {
            <div class="alert alert-success">
                @TempData["succsess"]
            </div>
        }
    </div>
</body>
