{
    box-sizing: border-box;
}

.product-item {
    width: 700px;
    text-align: center;
    margin: 55px auto;
    border-bottom: 2px solid #F5F5F5;
    background: white;
    font-family: "Open Sans";
    transition: .3s ease-in;
}

    .product-item:hover {
        border-bottom: 2px solid #fc5a5a;
    }

    .product-item img {
        display: block;
        width: 100%;
    }

.product-list {
    background: #fafafa;
    padding: 15px 0;
}

    .product-list h3 {
        font-size: 18px;
        font-weight: 400;
        color: #444444;
        margin: 0 0 10px 0;
    }

.price {
    font-size: 16px;
    color: #fc5a5a;
    display: block;
    margin-bottom: 12px;
}

.button {
    text-decoration: none;
    display: inline-block;
    padding: 0 12px;
    background: #cccccc;
    color: white;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 28px;
    transition: .3s ease-in;
}

.product-item:hover .button {
    background: #fc5a5a;
}

#eye {
    display: inline-block;
    position: relative;
    width: 0.8em; /* ширина элемента */
    height: 0.8em; /* высота элемента */
    background: currentColor; /* цвет иконки как цвет текста */
    border-radius: 70% 0 / 70%;
    transform: rotate(45deg);
    margin-right: 25px;
    float: right;
    margin-top: 20px;
}

    #eye::before,
    #eye::after {
        content: "";
        position: absolute;
        top: 20%;
        left: 20%;
        width: 60%;
        height: 60%;
        background: #fff;
        border-radius: 100%;
    }

    #eye::after {
        width: 30%;
        height: 30%;
        top: 35%;
        left: 35%;
        background: inherit; /* цвет зрачка как у родителя */
    }
